* {
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
  background-color: royalblue;
  color: aliceblue;
}

/* Header styling */

header {
  display: flex;
  justify-content: space-between;
}

/* Hero styling */

#hero-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 20px;
  gap: 20px;
}

#hero-section h1 {
  font-size: 40px;
}

#hero-section p {
  font-size: x-large;
}

#hero-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Game Select Styling  */

#game-select {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.hidden-initial {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* display: none; */
}

/* Consistent Game Stuff */

.game-board {
  min-height: 400px;
  border: black solid 2px;
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

footer p {
  margin: 5px 0;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

footer ul li {
  display: inline;
  margin-right: 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

footer ul li a:hover {
  color: #ddd;
}

.social-media a {
  margin: 0 5px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #4da6ff;
}
